<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FullyAutomaticLaserJetCoder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <FullyAutomaticLaserJetCoder.Properties.Settings>
            <setting name="IgnoreKPIMES" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HasNGPosition" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IgnoreCCD" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MappingA" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MappingB" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MappingC" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MappingTx" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MappingTy" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MappingD" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="JetOffsetX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="JetOffsetY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="XLaserToDccd" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="YLaserToDccd" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Yield" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OKYield" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NGYield" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LaserOffsetX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LaserOffsetY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LaserRangeX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LaserRangeY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Symmetrical" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IngnoreCCDA" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IngnoreCCDB" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IngnoreCCDC" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IngnoreCCDD" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MarkOffsetX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MarkOffsetY" serializeAs="String">
                <value>0</value>
            </setting>
        </FullyAutomaticLaserJetCoder.Properties.Settings>
    </userSettings>
</configuration>
